<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>员工管理系统</title>
</head>
<body>
<form action="register">
    <p>请首先注册</p>
    <div>
        <label>请输入邮箱：</label>
        <input type="text" name="email"/>
    </div>
    <div>
        <label>请输入账号：</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>请输入密码：</label>
        <input type="password" name="password"/>
    </div>
    <input type="submit">
</form>
<a href="login">已经有账号，登录</a>

</body>
</html>